/**
 * General Wordpress Mods
 */
/*  Wordpress Yotube-Emebdding  */
.wp-block-embed-youtube {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

/* Hides all feature images on pages */
.page .featured-area {
    display: none;
}

/**
 * Mods for Jannah-Theme
 */
/* Top-bar */
nav#top-nav {
    background-color: #ff000000;
}

.topbar-wrapper {
    font-weight: 700
}

.topbar-wrapper .menu-item:hover {
    background: #fff
}

/* main-nav */
#main-nav .menu ul li:hover>a, #main-nav .mega-menu .post-box-title a:hover {
    /* sub-menu-entry on hover */
    color: #cca352 !important
}

span.date.meta-item.fa-before {
    /* post date in mega-menuü */
    color: #aaa
}

/* custom news categori widget */

#newsCategories {
    text-align: center;
}

.widget_tag_cloud a:hover {
    background: rgba(0, 0, 0, 0.13);
}

#cookieChoiceInfo>div>a, #newsCategories>a, #toc>li>a {
    /* cookieChoceInfo, toc? */
    color: #23678C;
    font-weight: 700
}

a.more-link {
    /* more-link und frontpage */
    float: right
}


div.mpp-toc-container.top>nav>ul>li {
    list-style-type: none;
    font-size: 13px
}

div.mpp-toc-container.top {
    border: 1px solid #c7c6c6;
    float: right;
    max-width: 260px;
    box-shadow: 5px 5px 5px grey;
    background-color: #fff
}

div.mpp-page-link.page-link {
    background-color: rgba(255, 255, 255, 0)
}

.block-head-4#tie-body .widget-title:before, .block-head-6#tie-body .widget-title:after {
    background: primary-color
}

.container-wrapper, .pages-nav-item, .pages-numbers a:not(:hover) {
    background: #f2f2f2
}

.post-thumb img {
    max-height: 220px;
    object-fit: cover
}

.first-last-pages>a:hover {
    background-color: #e8e8e8
}

#footer {
    /* fix for background sizing bug */
    background-size: cover;
}

/* tie_index */
#story-index {
    /* transparency when on top of page */
    opacity: 0.8;
}

#story-index:not(.is-compact) .story-index-content, #story-index.is-compact .story-index-content, #story-index-icon {
    /* menu-elements */
    background-color: #c49e55 !important;
}

#story-index li .is-current, #story-index li a {
    /* menu text */
    color: #fff !important;
    font-weight: 700;
}

/**
    Custom menu mods.
    guide-menu: Table of contents box vor page-guides with subpage-menu-shortcode
    sibling-menu: Vertical view for box with sibling-menu-shortcode
 */
.guide-menu, .sibling-menu {
    background-color: #ddd;
    border-radius: 10px;
    padding: 1em 1.25em !important;
}

.guide-menu ul {
    padding-left: 0px;
}

.guide-menu ul li {
    list-style: circle;
}

.sibling-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sibling-menu ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: larger;
}

/**
    Mods for GW2armory-Embeds
 */
.gw2a-items-embed span {
    vertical-align: bottom;
}

/**
    Turns images to grayscale
 */
.grayscale, .greyscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/**
    Makes text be selected as a whole
 */
.force-select-all, .select-all {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
    border: 1px solid slategray;
}

.force-select-all:hover, .select-all:hover {
    border-color: darkgray;
}

/**
    CSS-Klasse "hide-spoiler" blurs images
    and shows them, when hoverd
 */
.hide-spoiler figure {
    overflow: hidden;
}

.hide-spoiler img {
    -webkit-filter: blur(50px);
    filter: blur(50px);
}

.hide-spoiler figure:after {
    content: "\a Maus hier zum anzeigen";
    position: relative;
    white-space: pre;
    color: dimgray;
}

.hide-spoiler figure:hover img {
    filter: none;
    -webkit-filter: none;
    transition: filter 0.5s;
    -webkit-transition: filter 0.5s;
    transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
}
